@font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    src: url("../assets/fonts/ProximaNova-Medium_2770618388[2258].otf")
      format("opentype");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Proxima Nova;
    list-style: none;
    line-height: 1.5em;
    font-weight: 400;
    text-decoration: none;
    
   
  }
  
  :root {
    --PrimaryColor0: #f7a100;
    --PrimaryColor2: #f7a100;
    --PrimaryColor10: #f8c463;
    --PrimaryInverted: #121212;
    --primaryInverted10: #181818;
    --PrimaryInverted20: #404040;
    --PrimaryInverted30: #282828;
    --SecondaryBackground: #ffffff; 
    --TextColorInverted: #ffffff;
    --Gallery0: #ededed;
    --Gallery1: #cccccc;
    --TextColor: #333333;
    --TextAlt: #0071b3; 
    --fontNormal: 16px;
    --fontExtraLarge: 45px;
    --fontLarge: 34px;
    --fontMedium: 24px;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --PrimaryColor0: #282828;
      --PrimaryColor2: #f7a100;
      --PrimaryColor10: #f8c463;
      --PrimaryInverted: #121212;
      --primaryInverted10: #181818;
      --PrimaryInverted20: #404040;
      --PrimaryInverted30: #282828;
      --SecondaryBackground: #121212;
      --Gallery0: #282828;
      --Gallery1: #cccccc;
      --TextColor: #ffffff;
      --TextColorInverted: #ffffff;
      --TextAlt: #f7a100;
      --fontNormal: 16px;
      --fontExtraLarge: 45px;
      --fontLarge: 34px;
      --fontmMedium: 24px;
    }
  
  html, body{
    max-width: 100%;
      overflow-x: hidden;
  }
  
  
    body {
      background-color: var(--PrimaryInverted);
    }
    
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--PrimaryColor2);
    width: 100%;
    height: 62px;
  }
  
  header img {
    height: 30px;
    width: auto;
  }
  
  svg {
    fill: var(--TextColorInverted);
  }
  
  .rechtermenu ul {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .lijst {
    display: flex;
    justify-content: center;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .rechtermenu a {
    text-decoration: none;
    color: var(--TextColorInverted);
  }
  
  .hoofdmenu li {
    list-style: none;
    top: 10;
    right: 0;
  }
  
  
  .hoofdmenu {
    position: fixed;
    background-color: var(--PrimaryColor0);
    top: 0;
    bottom: 0;
    left: 0;
    translate: -100% 0%;
    transition: 0.5s;
    padding: 5em 1em 1em;
    inset: 0;
    z-index: 9999;
  }       
  .hoofdmenu.open {
    translate: 0% 0;
  }
  
  .hoofdmenu a {
    color: var(--TextColorInverted);
    text-decoration: none;
  }
  
  header button {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    padding: 10px;
  }
  
  dialog {
    position: absolute;
    top: 300px;
    left: 550px;
    border: none;
    border-radius: 5px;
    box-shadow: 0;
    padding: 1.6rem;
    max-width: 400px;
  }
  
  .add-button {
    font-size: var(--fontLarge);
    height: 60px;
    width: 60px;
    cursor: pointer;
    background: var(--Gallery0);
    color: var(--TextColor);
    border: solid 2px var(--PrimaryColor2);
    padding: 0;
    margin-left: 30px;
    margin-top: 6px;
    border-radius: 50%;
  }
  
  .leden h2    {
    color: var(--TextColorInverted);
    margin-top: 10px;
  }
  
  span {
    content: "\2139";
    color: var(--TextColorInverted);
  }
  
  .avatars {
    display: flex;
    align-items: start;
    border-bottom: solid 1px var(--PrimaryColor2);
    padding-top: 1em;
    font-size: var(--fontNormal);
    color: var(--TextColor);
   
  }
  
  
  .avatars img {
    height: 70px;
    margin-left: 15px;
    width: 70px;
    border: solid 2px var(--PrimaryInverted20);
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .avatars .leden{
    margin-left: 25px;
  }
  
  .tooltip {
    position: relative;
    display: flex;
    border-bottom: 1px var(--PrimaryInverted);
  }
  
  .tooltip svg{
   fill: var(--PrimaryColor2);
  }
  
  .tooltip .tooltiptext {
  position: absolute;
  top: 5em;
  left:-7em;
    visibility: hidden;
    width: 150px;
    background-color: var(--SecondaryBackground);
    color: var(--TextColor);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    
  }
  
  
  .tooltip:hover .tooltiptext {
    display: flex;
    visibility: visible;
    transition: 0.1s;
    
  }
  
  
  .filter {
    margin-top: 2.2em;
    margin-left: 2.8em;
    padding: 5px;
  }
  
  .lijst {
    display: flex;
    justify-content: center;
    padding: 30px;
    border-bottom: solid 1px var(--PrimaryColor2);
    border-top: 1em;
    block-size: auto;
    font-size: var(--fontLarge);
    color: var(--TextColor);
  }
  
  .houses {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.125em;
    padding: 50px;
  }
  
  .houses li {
    color: var(--TextColor);
  }
  
  .houses a {
    color: var(--TextAlt);
  }
  
  .avatarhouse11,
  .miniavatar22,
  .miniavatar2 {
    padding: 10px;
    float: right;
    height: 60px;
    width: 60px;
    max-width: 60px;
  }
  
  .raadhuisstraatimg,
  .amsterdamsewegimg,
  .bunschoterwegimg {
    height: auto;
    width: 100%;
    max-width: 1440px;
    border: solid 1px var(--PrimaryColor0);
  }
  
  .amsterdamseweg,
  .raadhuisstraat,
  .bunschoterweg {
    background-color: var(--Gallery0);
  }
  
  .amsterdamseweg li,
  .bunschoterweg li,
  .raadhuisstraat li {
    margin: 10px;
  }
  
  .amsterdamseweg p,
  .bunschoterweg p,
  .raadhuisstraat p {
    padding: 10px;
  }
  
  @media screen and (min-width: 457px) {
    .filter {
      display: flex;
      justify-content: start;
      padding: 5px;
    }
    .avatars h2 {
      position: absolute;
      left: 0em;
      margin: 5px;
      top: 2.7em;
      font-size: 1.5em;
    }
  
    .houses {
      display: grid;
      grid-template-columns: 1fr;
    }
    header button {
      border: none;
      background-color: transparent;
      font-size: 1.5em;
      padding: 20px;
    }
  }
  
  @media screen and (min-width: 748px) {
    .houses {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
  
    .leden{
      color: var(--TextColor);
      padding-left: 24px;
      margin-top: 10px;
  
  }
  
  }
  
  @media screen and (min-width: 1366px) {
    .houses {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 748px) {
      .leden {
        display: none;
      }   
  
      .avatars{
          display: flex;
          justify-content: center;
      }
    }
  