@font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    src:
      url("../assets/fonts/ProximaNova-Medium_2770618388[2258].otf") format("opentype")
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Proxima Nova;
    list-style: none;
    line-height: 1.5em;
    font-weight: 400;
    font-size: var(--fontP);
    text-decoration: none;
   

}




:root{ 
    --PrimaryColor0: #F7A100;
    --PrimaryColor10: #F8c463;
    --SecondaryBackground: #FFFFFF;
    --Gallery0: #EDEDED;
    --Gallery1: #CCCCCC;
    --TextColor: #333333;
    --TextAlt: #0071B3;
    --fontP: 16px;
    --fontH1: 34px;
    --fontH3: 24px;
    --Darkmode0: #121212;
    --Darkmode10: #181818;
    --Darkmode20: #404040;
    --Darkmode30: #282828;
}



@media (prefers-color-scheme: dark) {

    :root{
    --PrimaryColor0: #F7A100;
    --PrimaryColor10: #F8c463;
    --SecondaryBackground: #FFFFFF;
    --Gallery0: #EDEDED;
    --Gallery1: #CCCCCC;
    --TextColor: #333333;
    --TextAlt: #0071B3;
    --fontP: 16px;
    --fontH1: 34px;
    --fontH3: 24px;
    --Darkmode0: #121212;
    --Darkmode10: #181818;
    --Darkmode20: #404040;
    --Darkmode30: #282828;
    }


    body {
        background: var(--Darkmode0);
    }
    .avatars h2{
        color: var(--SecondaryBackground);
    }  
    .houses {
    background: var(--Darkmode10);
}
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--PrimaryColor0);
    width: 100%;
    height: 62px;
}

header img{
    height: 30px;
    width: auto;
}

svg {
    fill: var(--SecondaryBackground);
}

.rechtermenu ul{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.favorieten {
    display: flex;
    justify-content: center;
}
 
.left{
    display: flex;
    align-items: center;
}

.rechtermenu a{
    text-decoration: none;
    color: var(--SecondaryBackground);

}






.hoofdmenu li{
    list-style: none;
    top: 10;
    right: 0;
}   

.hoofdmenu{
    position: fixed;
    background-color: var(--PrimaryColor0);
    top: 0;
    bottom: 0;
    left:0;
    translate: -100% 0%;
    transition: .5s;
    padding: 5em 1em 1em;
    inset: 0;
    z-index:9999;
    
}
.hoofdmenu.open{
    translate:0% 0;
    
}

.hoofdmenu a{
    position: relative;
    color: var(--SecondaryBackground);
    text-decoration: none;
    
}

header button{
    
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    padding: 10px;


}




.avatars {
    display: flex;
    justify-content: center;
    height: 8vh;
    width: 100%;
    gap: 10px;
    margin-top: 4em;
    border: 6px solid var(--PrimaryColor0);
    padding-bottom: 20px;
    border-left: solid var(--SecondaryBackground);
    border-right: solid var(--SecondaryBackground);
    border-top: 1em;

}

.add-button{
    border: none;
    background-color: transparent;
   
}

.filter{
    margin-top: 1em;
    padding: 5px

}


.avatars h2{
    position: absolute;
    left: 0em;
    margin: 5px;
    top: 2.7em;
    font-size: 1.5em;
    
}



.houses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1.125em;
    padding: 50px;
}






.avatarhouse11{
    padding: 10px;
    float: right;
    height: auto;
    width: 100%;
    max-width:40px; 
}


.raadhuisstraat li{
    
    margin: 10px;
    
}

.raadhuisstraat p{
    padding: 10px;
    
}



.raadhuisstraatimg, .amsterdamsewegimg, .bunschoterwegimg{   
        height: auto;
        width: 100%;
        max-width: 1440px;
        border: solid 1px var(--PrimaryColor0);
    }



.amsterdamseweg, .raadhuisstraat, .bunschoterweg{
    background-color: var(--Gallery0);
    
}

.miniavatar22{
    padding: 10px;
    float: right;
    height: auto;
    width: 100%;
    max-width:40px; 
}


.amsterdamseweg li, .bunschoterweg li, .raadhuisstraat li{
    
    margin: 10px;
    
}

.amsterdamseweg p , .bunschoterweg p, .raadhuisstraat p{
    padding: 10px;
    
}
    
    .miniavatar2{
        padding: 10px;
        float: right;
        height: auto;
        width: 100%;
        max-width:40px; 
    }
            
            @media screen and (max-width: 457px) {
                .filter {
                    display: flex;
                    justify-content: start;
                    padding: 5px;
                }
                .avatars h2{
                    position: absolute;
                    left: 0em;
                    margin: 5px;
                    top: 2.7em;
                    font-size: 1.5em;
                }
                }
                
                @media screen and (max-width: 950px) {
                    .houses{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1.125em;
                        padding: 50px;
                    }
                }
                
                @media screen and (max-width: 768px) {
                    .houses{
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 3em;
                        padding: 50px;
                    }
                }

            